<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mli.mackaber.mylittleimageproject" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Aplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.Album_detail"
            android:label="@string/title_activity_album_detail" >
        </activity>
        <activity
            android:name=".activities.Picture_detail"
            android:label="@string/title_activity_picture_detail" >
        </activity>
        <activity
            android:name=".activities.New_picture"
            android:label="@string/title_activity_new_picture" >
        </activity>
        <activity
            android:name=".activities.New_album"
            android:label="@string/title_activity_new_album" >
        </activity>
        <activity
            android:name=".activities.Album_activity"
            android:label="@string/title_activity_album_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.New_video"
            android:label="@string/title_activity_new__video" >
        </activity>
        <activity
            android:name=".activities.Video_detail"
            android:label="@string/title_activity_video_detail" >
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
    </application>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
